{% extends "base.html" %}
{% block content %}


<h1 class="bg-primary"> Agnes' Bio💋</h1>


<p> I was Born in Ghana and raised in Worcester Massachusetts, I currently study at Brandeis University. I am majoring in Health Science Society and Policy and I will minor in business administration. I love music, specifically gospel, R&B, hiphop.</p>
<img src = "https://raw.githubusercontent.com/brandeisu/brandeisu.github.io/master/static/img/1d8bae4c-73fd-4d0b-8b77-20527911acc4.jpg" width="200">



{% endblock %}
hhyyyooooooo
