{% extends "base.html" %}
{% block content %}

<h1 class="bg-primary">Tim's short bio!!</h1>

<p> Hello! my name is Ali Albalakhi and I currently attend Brandeis University in Boston, MA.
    I intend to major in Bio-Chem and minor in Mathmatics to go on to Medical School to become
    a cardiothoracic surgeon. </p>

<p> Here is what I look currently as a freshman in college. </p>
<img src = "Facebook bio" width="100">
<p>Here is a link to
<a href="https://www.facebook.com">my Facebook homepage</a>
</p>

{% endblock %}
