{% extends "base.html" %}
{% block content %}

<h1 class="bg-primary">Ali's Short Bio!</h1>

<p> Hello! my name is Ali Albalakhi and I currently attend Brandeis University in Boston, MA.
    I intend to major in Bio-Chem and minor in Mathmatics to go on to Medical School to become
    a cardiothoracic surgeon. </p>

<p> Here is what I look currently as a freshman in college. </p>
<img src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t34.0-12/23634694_1602549026502133_414550093_n.jpg?oh=dc4e6d5fe4afcc9dc4e3e111241fa41d&oe=5A0F37CB" width="100">
<p>Here is a link to
<a href="https://www.facebook.com/ali.albalakhi">my Facebook homepage</a>
</p>

{% endblock %}
