  {% extends "base.html" %}
  {% block content %}


 <div class="jumbotron">
   <h1>Supreme Buddy Buddy Chat</h1>
   <p class="text-warning">
     Welcome to the Supreme Buddy Buddy Chat! Feel free to communicate with you buddy :)
   </p>
 </div>
 <form method="POST" action="/chat">
   Username: <input type="text" name="who"><br>
   Year: <input type="text" name="year"><br>
   Email: <input type="text" name="email"><br>
   Phone Number: <input type="text" name="num"><br>
   Location: <input type="text" name="loc"><br>
   Starting Time: <input type="time" name="s_time"><br>
   Estimated Ending Time: <input type="time" name="e_time"><br>
   Date: <input type="date" name="e_date"><br>
   <input type="submit">
 </form>
 <div>

 {% for msg in messages %}
  {{msg.who}}/{{msg.now}}: <strong>{{msg.msg}}</strong>
  <br>
 {% endfor %}
 </div>

 {% endblock %}
