messages=[]
@app.route('/chat',methods=['GET','POST'])
def chat():
 if request.method == 'POST':
 msg = request.form['msg']
 who = request.form['who']
 now = datetime.now()
 x = {'msg':msg,'now':now,'who':who}
 messages.insert(0,x) # add msg to the front of the list
 return render_template("chat.html",messages=messages)
 else:
 return render_template("chat.html",messages=[])


 <div class="jumbotron">
   <h1>Chat Demo</h1>
   <p class="text-warning">
     Chat below, but be nice!
   </p>
 </div>
 <form method="POST" action="/chat">
   yourname: <input type="text" name="who"><br>
   message: <input type="text" name="msg"><br>
   <input type="submit">
 </form>
 <div>

 {% for msg in messages %}
  {{msg.who}}/{{msg.now}}: <strong>{{msg.msg}}</strong>
  <br>
 {% endfor %}
 </div>

 {% endblock %}
