{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>BUDDY BUDDY FORM</h1>
  <p class="text-warning">
    Try to fill out the form as best as you can :)
  </p>
</div>
<div class="text-center">
  Add pictures and mini bios of everyone in your team to this page.

</div>

<form method="GET" action="processRequest">
  What activity do you need a buddy for?
  <br>
<select name="activity">
    <option>no selection</option>
    <option> Gym </option>
    <option> Academics </option>
    <option> Food </option>
  </select>
  <input type="submit">
  <br>
    
    Starting Time: <input type="time" name="s_time"><br>
    Estimated Ending Time: <input type="time" name="e_time"><br>
    Date: <input type="date" name="e_date"><br>
    <input type="text" name="location"><br


</form>


<div >

</div>
<div >

</div>

{% endblock %}
