{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Elevator Pitch and Brand Promise</h1>
  <p class="text-warning">
    Meet our great team!
  </p>
</div>
<div class="text-center">
  Add pictures and mini bios of everyone in your team to this page.

</div>
<div >
  Elevator Pitch: The creators of the Supreme Buddy Buddy brings to you a site that helps interact with other Brandeisians who have similar interest in familiar settings at Brandeis.
  Essentially the way the website functions is that it display different categories concerning things around campus.
  Our categories include: GYM, PARTY, ACADEMICS, FOOD, AND MISCELLANEOUS. The aforementioned categories will then contain subcategories in those areas of interest.
  For example, the GYM category will have subcategories of different locations you can go to like [The weight room, Sport Courts, Pool, and Track]

</div>
<div >
  Promise
</div>
<div >
  if you have any questions or concerns please don't hesitate to contact us alialbalaki@brandeis.edu
</div>

{% endblock %}
