{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!
    <br>


    <a href="keefa" class="btn btn-lg btn-info">Keefa Grant</a>
      <img class = "img-circle" width="300" src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/10367790_329272473888621_1088579770322199306_n.jpg?oh=ca1f89acb9eb90183d5afe69dfeec9ed&oe=5AA5C674" width="300">
    <br>
    <a href="agnes" class="btn btn-lg btn-info">Anges Nkansah</a>
      <img class = "img-circle" width="300" src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/22730066_1995575263987641_8960482143910261582_n.jpg?oh=1b88ca9f1a66243edaa55d06ac6cc883&oe=5A6E3D14" width="300">
    <br>
    <a href="ali"= class="btn btn-lg btn-info">ALi Albalakhi</a>
    <img class = "img-circle" width="300" src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/13102737_1005878579502517_1218469137849333125_n.jpg?oh=373324c5fa2b4df70e34ea0a7c4bb975&oe=5A9FCAAB" width="300">
    <br>
    <a href="kareem" class="btn btn-lg btn-info">Kareem Adams</a>
      <img class = "img-circle" width="300" src = "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/3367_147415378731202_1228190776_n.jpg?oh=cb5d48c263a69f6bcd3b331b0a8a9165&oe=5AAF5824" width="300">
      <br>
    <a href="raven"class="btn btn-lg btn-info">Raven Arnold-Green</a>
      <img class = "img-circle" width="300" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/A_Common_Raven.jpg/1200px-A_Common_Raven.jpg" width="300">
  </p>
</div>


{% endblock %}
