{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!
    <br>
    Tim Hickey
    <img  width="100" src = "http://www.cs.brandeis.edu/~tim/alumnicollege07/tim1977.jpg" width="200">

<br>
    Keefa Grant
      <img  width="100" src = "https://www.facebook.com/photo.php?fbid=654031698079362&set=pb.100004176124266.-2207520000.1509999249.&type=3&theater" width="200">
    <br>
    Agnes Nkansah
      <img  width="100" src = "https://www.facebook.com/photo.php?fbid=1995575263987641&set=pb.100006055602453.-2207520000.1509999140.&type=3&theater" width="200">
    <br>
    Ali Albalakhi
    <img  width="100" src = "https://www.facebook.com/photo.php?fbid=1005878579502517&set=pb.100002411541078.-2207520000.1509999067.&type=3&theater" width="200">
    <br>
    Kareem Adams
      <img  width="100" src = "https://www.facebook.com/photo.php?fbid=147415378731202&set=pb.100003882225082.-2207520000.1509999296.&type=3&theater" width="200">
      <br>
    Raven Arnold-Green
      <img  width="100" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/A_Common_Raven.jpg/1200px-A_Common_Raven.jpg" width="200">
  </p>
</div>
<div class="text-center">
  Add pictures and mini bios of everyone in your team to this page.
<img src = "http://www.cs.brandeis.edu/~tim/alumnicollege07/tim1977.jpg" width="200">
</div>

{% endblock %}
